.button {
  background-color: rgb(182, 30, 30);
  border-radius: 10px;
  color: white;
  width: 80px;
}
.logo {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: darkred;
  font-weight: bold;
  font-size: 60px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: darkred;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 10px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 500px;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}
